@import url('./global.css');

/* globals ------------------------------------------------------------------- */

.tick{
    width: 1.6rem;
    margin: 0.8rem;
}
.terminal{
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 0.5rem 1.5rem;
    color: white;
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.path{
    width: 0.8rem;
    min-width: 0.8rem;
    height: 100%;
    background-color: var(--color-primary);

}
.pathJoin{
    height: 8.1rem;
}
h3{
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    height: 2.5rem;
    z-index: 999;
}

/* header -------------------------------------------------------------------- */

header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-primary);
    padding: 0 3rem;
    position: sticky;
    top: 0;
    z-index: 2000;
}

header h1{
    color: white;
    line-height: 2rem;
    font-size: 1.8rem;
    width: 28vw;
}
#logo {
    height: 2vw;
}
#progressContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30vw;
}
p{
    color: var(--color-background);
    padding: 0.5rem;
    letter-spacing: 2px;
}
#progressBar{
    background-color: var(--color--primary);
    height: 2rem;
    width: 100%;
    border: 0.2rem solid var(--color-background);
    border-radius: var(--border-radius);
}
#progressBarFill{
    background-color: var(--color-background);
    height: 100%;
    width: 10%;
    border-radius: 3px;
    padding: 0 0.5rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}
#pagesContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 30vw;
}
#docsLink{
    margin-left: 1.5rem;
}

/* main ---------------------------------------------------------------------- */

main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* top title ----------------------------------------------------------------- */
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#tickTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
}
#tickTitle img{
    scale: 1.2;
    padding-right:0.2rem;
}
#clickTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}
#cursor{
    height: 2.5rem;
    margin-bottom: 0.75rem;
    padding-right: 0.75rem;;
}

/* fist path section --------------------------------------------------------- */

#progress1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 20rem;
    width: 100%;
}
.path1txt{
    height: 100%;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
#path1txtL{
    align-items: end;
    text-align: end;
}
#path1txtR{
    align-items: start;
    text-align: start;
}
.path1ticks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
}

/* path joint ------------------------------------------------------------------- */

#progress2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
h4{
    padding-bottom: 1rem;
    width: 8rem;
    position: relative;
}
#hardware{
    text-align: end;
    left: 2rem
}
#electronics{
    text-align: start;
    right: 2rem;
}

/* long path section ------------------------------------------------------------------- */

#progress3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100rem;
    width: 100%;
}
.path3txt{
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}
#path3txtL{
    align-items: end;
    text-align: end;
    justify-content: space-evenly;
}
#path3txtR{
    align-items: start;
    text-align: start;
    justify-content: space-around;
}
.path3ticks{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
}
#path3ticksL{
    justify-content: space-evenly;
}
#path3ticksR{
    justify-content: space-around;
}
#path3L{
    margin-right: 6.85rem;
    scale: 1.0 1.002;
}
#path3R{
    margin-left: 6.85rem;
    scale: 1.0 1.002;
}

/* 2nd path join ------------------------------------------------------------------- */




/* last path part ------------------------------------------------------------------- */

#progress5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 32rem;
    width: 100%;
}
.path5txt{
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}
#path5txtL{
    align-items: end;
    text-align: end;
    justify-content: space-around;
}
#path5txtR{
    align-items: start;
    text-align: start;
    justify-content: space-evenly;
}
.path5ticks{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
}
#path5ticksL{
    justify-content: space-around;
}
#path5ticksR{
    justify-content: space-evenly;
}
#path5{
    scale: 1.03 1.05;
}

/* ------------------------------------------------------------------- */

#progress6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20rem;
}




/* confetti ------------------------------------------------------------------- */

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    border-radius: 50%;
}

/* ------------------------------------------------------------------- */

h3.clickh3{
    cursor: pointer;
    
}
h3.clickh3:hover{
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
}
.picBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 35rem;
    height: 23rem;
    z-index: 1000;
    border-radius: 9px;
    padding: 1rem;
    background-color: rgb(60, 60, 60);
    padding-top: 5rem;
    opacity: 0; /* Start invisible */
    pointer-events: none; /* Disable interactions when hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    transform: scale(0.95) translate(0px, 0px); /* Slightly shrink initially */
}
.picBg.show{
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable interactions */
    transform: scale(1); /* Restore to normal size */
}
.picBg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.tooltip{
    opacity: 0;
    scale: 0;
    font-size: 0.8rem;
    background-color: var(--color-accent);
    color: white;
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    margin: 2rem;
    position: absolute;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.clickh3:hover .tooltip{
    opacity: 1;
    scale: 1;
}

/* mobile message ------------------------------------------------------------------- */

#mobileMessage {
    display: none;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: var(--border-radius);
    z-index: 3000;
}

@media (max-width: 800px) {
    main > *:not(#mobileMessage) {
        display: none;
    }
 
    body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    #mobileMessage {
        display: block;
    }

    header{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20rem;
        width: 100%;
        min-height: 20rem;
    }
    header h1{
        line-height: 1.2rem;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    a{
        font-size: 1rem;
    }
    #logo {
        display: none;
    }
    #progressContainer{
        width: 100%;
        justify-content: space-between;
        padding: 4rem 0;
    }
    #progressBar{
        width: 80vw;
    }
    #pagesContainer{
       width: 100%;
       justify-content: space-around;
    }
    .picBg{
        width: 5rem;
        height: 3rem;
    }
}